
html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: $font-size;
  margin: 0;
  line-height: 2.6rem;

  .p-component {
    font-size: $font-size;
  }
}
h1{
  font-size: 1.6rem;
}

h2 {
margin: 0 auto;
  font-size: 1.4rem;
}

h3 {

}

h4 {

}

h5 {
  font-size: $font-size-big;
}


.logo {
  height: 5rem;
}

.section-wrapper{
  width: 100%;
  margin:0;
}



.page {
  
  .p-card {
    .p-card-title {
      border-bottom: solid 1px #999;
      margin: 0;
      .title-content{
        margin: 0;
        padding: 1rem;
        font-size: 2rem;
      }
    }
    .p-card-body>.p-card-subtitle {
      //border: 1px solid #ffa15f;
      //background: #ffeee4;
      padding: 1rem;
      //border-radius: .4rem;
    }
  }
}

page-main {
  margin: 0;
  display: block;
}

.page-title {
  text-align: center;
  text-transform: uppercase;
  margin: 1rem;
}


@media screen and (min-width: $media-tablet) {

  .page-title {

    margin: 4rem;
    
  }
  .page {

    .p-card {
      .p-card-title {
        border-bottom: solid 1px #999;
        margin: 0;
        .title-content{
          margin: 0;
          padding: 1rem;
          font-size: 2rem;
        }
      }
      .p-card-body>.p-card-subtitle {
        //border: 1px solid #ffa15f;
        //background: #ffeee4;
        padding: 1rem 1rem 1rem 3rem;
        //border-radius: .4rem;
      }
    }
  }
}

//.page-column {
//  min-width: 20rem;
//}

@media screen and (min-width: $media-tablet) {
  .page-column {
    //width: 45%;
  }

}


p-card {
  margin: 1rem;
  width: 100%;

  .p-card {
    height: 100%;
  }
}


@media screen and (min-width: $media-tablet) {

  .section-content {
    //display: flex;
    //flex-wrap:nowrap;
    //padding: 1rem;
  }

  .column-2 {
    p-card {
      //width: 50%
    }
  }
  .column-3 {
    p-card {
      //width: 33.33%
    }
  }

}

.column-2 {
  p-card {
    //width: 100%
  }
}

.column-3 {
  p-card {
    //width: 100%
  }
}

footer {
  display: block;
  background: $color-black-transparent;
  height: 5rem;
  width: 100%;
  margin-top: 2rem;
}

.pi-link{
  padding: .5rem;
  color: #999;
}
