
$font-size: 1.4rem;

$font-size-big: 1.6rem;


$media-desktop: 1200px;
$media-laptop: 1025px;
$media-tablet: 768px;
$media-mobile: 480px;

$color-white: rgba(255, 255, 255, 0.87);
$color-black: rgba(0, 0, 0, 1);
$color-black-transparent: rgba(0, 0, 0, 0.87);
$color-red: rgba(255, 100, 50, 0.87);
