<div class="header">
    <h1 class="page-title">Прямая демократия</h1>
    <div class="description">
        Прямая демократия - форма управления государством, при которой все законы, инициативы и решения принимаются
        непосредственно гражданами, через референдумы и голосования.
    </div>
</div>
<p-divider></p-divider>
<div class="content">
    <div class="section-wrapper section-one">
        <section-one id="section-one" class="section  column-2"></section-one>
    </div>
    <div class="section-wrapper section-two">
        <section-two id="section-two" class="section column-2"></section-two>
    </div>
    <div class="section-wrapper section-three">
        <section-three id="section-three" class="section column-2"></section-three>
    </div>
</div>
