<div class="header">
    <h1 class="page-title">Прямая демократия</h1>
    <div class="description">
        Прямая демократия Описание Прямая демократия Описание Прямая демократия
        Описание Прямая демократия Описание Прямая демократия Описание
    </div>
</div>
<p-divider></p-divider>
<div class="content">
    <section-one id="section-one" class="section section-one column-2"></section-one>
    <p-divider></p-divider>
    <section-two id="section-two" class="section section-one column-2"></section-two>
    <p-divider></p-divider>
    <section-three id="section-three" class="section section-one column-2"></section-three>
</div>
